.theme_dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --text-shadow-color: #ff0070;
  --accent-text-color: #000028;
  --header-title-text-color: #db00ff;
  --title-color: #ff0070;
  --backround-color: #000028;
  --button-text-color: #ff0070;
  --color-pink-rgb: 255, 0, 112;
  --color-gray-rgb: 53, 52, 48;
}

.theme_dark .header__theme-menu-button:focus-visible {
  border-bottom-color: var(--color-pink-rgb);
}

.theme_dark .header__theme-menu-button:hover {
  border-color: rgba(var(--color-pink-rgb), 0.5);
}

.theme_dark .header__theme-menu-button_active {
  border-color: var(--color-pink-rgb);
}

.theme_dark .header {
  background-image: url(/images/cover-image-dark.png);
}
