/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --color-bg: var(--color-blue-50);
  --color-primary: var(--color-pink-400);
  --color-secondary: var(--color-pink-300);
  --color-font: var(--color-pink-600);
}
