/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --text-shadow-color: #ff0070;
  --accent-text-color: #000028;
  --header-title-text-color: #ffc2e6;
  --title-color: #ff0070;
  --backround-color: #fff1f7;
  --button-text-color: #353430;
  --color-pink-rgb: 255, 0, 112;
  --color-gray-rgb: 53, 52, 48;
}

.theme_light .header__theme-menu-button:focus-visible {
  border-bottom-color: var(--color-gray-rgb);
}

.theme_light .header__theme-menu-button:hover {
  border-color: rgba(var(--color-gray-rgb), 0.5);
}

.theme_light .header__theme-menu-button_active {
  border-color: var(--color-gray-rgb);
}

.theme_light .header {
  background-image: url(/images/cover-image-light.png);
}

.theme_light .title {
  color: var(--text-color);
}

.theme_light .header__rec-point::before,
.theme_light .header__rec-point::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --text-shadow-color: #ff0070;
    --accent-text-color: #000028;
    --header-title-text-color: #ffc2e6;
    --title-color: #ff0070;
    --backround-color: #fff1f7;
    --button-text-color: #353430;
    --color-pink-rgb: 255, 0, 112;
    --color-gray-rgb: 53, 52, 48;
  }
}
